#fav-country {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#delete-fav-btn{
    display:inline-block;
    padding:0.1em 0.8em;
    margin:0 0.1em 0.1em 0;
    border:0.05em solid rgba(255,255,255,0);
    border-radius:2em;
    background-color: #2e8b57;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    transition: all 0.2s;
    height: 1.5em;
}

#delete-fav-btn:hover{
    border-color: rgba(255,255,255,1);
    cursor: pointer; 
}

li{
    display: flex;
    gap: 10px;
}

/* #empt-fav-list{
    text-align: center;
    border: 1px solid #FFFFFF;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
